@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Kanit", sans-serif;
}
body {
    font-family: Arial, sans-serif;
    width: 250px;
    text-align: center;
    background-color:rgb(7, 4, 41);
  }
  h2{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-family: "Roboto Mono", monospace;
  }
  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
  }
  button:hover {
    background: #e6e6e6;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 7px 2px rgb(138, 138, 138);
    border: 2px solid rgb(255, 255, 255);
  }
  #stop{
    background-color: red;
    border: 1px solid red;
    border-radius: 20px;
    width: 70px;
    margin-top: 20px;
    transition-duration: 1s;
    color: white;
  }
  #stop:hover{
    background-color: rgb(206, 3, 3);
    color: white;
  }